<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Invoices</h1>
</div>

<table class="container table table-striped shadow-lg">
  <thead>
    <tr>
      <th>User id</th>
      <th>Unit Price</th>
      <th>Total Units</th>
      <th>Unit_consumed</th>
      <th>Exceeded_Units</th>
      <th>Exceeded_Units_Amount</th>
      <th>Billing Date</th>
      <th>Total Amount</th>
    </tr>
  </thead>

  <tbody id="invoicesTable w-30">
    <% @invoices.each do |invoice| %>
      <tr id="planRow_<%= invoice.id %>">
        <td><%= invoice.user_id %></td>
        <td><%= invoice.usage.feature.unit_price %></td>
        <td><%= invoice.usage.feature.max_unit_limit %></td>
        <td><%= invoice.usage.unit_consumed %></td>
        <td>
          <% if invoice.usage.unit_consumed > invoice.usage.feature.max_unit_limit %>
            <%= invoice.usage.unit_consumed - invoice.usage.feature.max_unit_limit %>
          <%end%>
        </td>
        <td>
          <% if invoice.usage.unit_consumed > invoice.usage.feature.max_unit_limit %>
            <%= (invoice.usage.unit_consumed - invoice.usage.feature.max_unit_limit) * invoice.usage.feature.unit_price %>
          <%end%>
        </td>
        <td><%= invoice.subscribe.billing_date  %></td>
        <td><%= invoice.total_amount %></td>
        <td><%= link_to 'Generate Invoice', invoice %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>
