<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Invoices</h1>
</div>

<table class="container table table-striped shadow-lg">
  <thead>
    <tr>
      <th>User id</th>
      <th>Plan id</th>
      <th>Plan Name</th>
      <th>Billing Date</th>
    </tr>
  </thead>

  <tbody id="invoicesTable w-30">
  <tbody id="invoicesTable w-30">
    <% @invoices.each do |invoice| %>
      <tr id="planRow_<%= invoice.id %>">
        <td><%= invoice.user_id %></td>
        <td><%= invoice.subscribe.plan.id %></td>
        <td><%= invoice.subscribe.plan.name %></td>
        <td><%= invoice.subscribe.billing_date  %></td>
        <td><%= link_to 'Generate Invoice', invoice, class:"btn btn-outline-dark btn-sm" %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<br>
