<div class="container-sm shadow-lg">
<%= form_with(model: @invoice) do |form| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% @invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="field">
    <%= form.hidden_field :subscribe_id, value: @invoice.subscribe_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <% invoice = @invoice.subscribe.plan.features %>

  <div class="field">
    <% invoice.each do |feature| %>
      <%= form.hidden_field :usage_id, value: feature.usage.id%>
    <%end%>
  </div>

  <div class="fst-italic fs-5 text-black-50">
      <% invoice.each do |feature| %>
        <%= "Unit Consumed:" %>
        <%= feature.usage.unit_consumed %><br>

        <%= "Unit Price:" %>
        <%= feature.unit_price %><br>

        <%= "Total Units:" %>
        <%= feature.max_unit_limit %>
      <%end%>
  </div>
  <br>
  <div class="field">
    <%= form.label :total_amount, { class: "form-label"} %>
    <% invoice.each do |feature| %>
      <%= form.text_field :total_amount, class:"form-control" , value: feature.usage.unit_consumed * feature.unit_price, readonly: true %>
    <%end%>
  </div>

   <br>
    <p>
      <button type="submit" class="btn btn-dark">Create Invoice</button>
    </p>
  <br>

<% end %>
</div>
