<div class="container-sm shadow-lg">
<%= form_with(model: @invoice) do |form| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% @invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="field">
    <%= form.hidden_field :subscribe_id, value: @invoice.subscribe_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :status, value: "unpaid" %>
  </div>

  <% invoice = @invoice.subscribe.plan.features %>


  <div class="fst-italic fs-5 text-black-50">
      <% invoice.each do |feature| %>
        <%= "Unit Price:" %>
        <%= feature.unit_price %><br>

        <%= "Total Units:" %>
        <%= feature.max_unit_limit %>
      <%end%>
  </div>

   <br>
    <p>
      <button type="submit" class="btn btn-dark">Create Invoice</button>
    </p>
  <br>

<% end %>
</div>
