<div class="container-sm shadow-lg">
  <br>
  <h2>Features</h2>
  <div class="card-group">
        <div class="card text-dark bg-light mb-3">
        <% invoice = @invoice.subscribe.usage %>
        <% @invoice.subscribe.plan.features.each do |feature| %>
          <div class="card-header">
              <p>
                <strong>Name:</strong>
                <%= feature.name %>
              </p>
            </div>
            <div class="card-body">
                <p>
                  <strong>code:</strong>
                  <%= feature.code %>
                </p>
            </div>
            <div class="card-body">
                <p>
                  <strong>Unit Price:</strong>
                  <%= feature.unit_price %>
                </p>
            </div>
            <div class="card-body">
                <p>
                  <strong>Max Unit Limit:</strong>
                  <%= feature.max_unit_limit %>
                </p>
            </div>
        <% end %>

          <div class="card-body">
              <h3>Invoice</h3>
          </div>
          <div class="card-body">
              <p>
                <strong>Unit Consumed:</strong>
                <% if @invoice.status == "unpaid" %>
                    <%= invoice.unit_consumed %>
                <% elsif %>
                    <%= @invoice.unit_consumed %>
                <% end %>
              </p>
          </div>
          <div class="card-body">
              <p>
                <strong>Billing Date:</strong>
                <td><%= @invoice.billing_date  %></td>
              </p>
          </div>
          <div class="card-body">
                <p>
                  <strong>Total Amount:</strong>
                  <td><%= @invoice.total_amount %></td>
                </p>
          </div>
          <% if ! @exceeded_units.blank? %>
            <div class="card-body">
                  <p>
                    <strong>Exceeded Units:</strong>
                    <%= @exceeded_units %>
                  </p>
            </div>
            <div class="card-body">
                <p>
                  <strong>Exceeded Amount:</strong>
                  <%= @exceeded_amount %>
                </p>
            </div>
          <%end%>
        </div>
      </div>
      <td><%= button_to 'Pay Now',checkout_create_path, params: {id: @invoice.id}, class: "btn btn-dark" , remote: true %></td>
      <br>
</div>
