<div class="container-sm shadow-lg">
  <h2>Features</h2>
  <p>
    <strong>Name:</strong>
    <%= @invoice.usage.feature.name %>
  </p>

  <p>
    <strong>code:</strong>
    <%= @invoice.usage.feature.code %>
  </p>

  <p>
    <strong>unit_price:</strong>
    <%= @invoice.usage.feature.unit_price %>
  </p>

  <p>
    <strong>max_unit_limit:</strong>
    <%= @invoice.usage.feature.max_unit_limit %>
  </p>
  <h3>Invoice</h3>

  <p>
    <strong>Unit_consumed:</strong>
    <%= @invoice.usage.unit_consumed %>
  </p>

  <p>
    <% if @invoice.usage.unit_consumed > @invoice.usage.feature.max_unit_limit %>
        <strong>Exceeded_Units:</strong>
        <%= @invoice.usage.unit_consumed - @invoice.usage.feature.max_unit_limit %>
    <%end%>
  </p>

  <p>
    <% if @invoice.usage.unit_consumed > @invoice.usage.feature.max_unit_limit %>
        <strong>Exceeded_Units_Amount:</strong>
        <%= (@invoice.usage.unit_consumed - @invoice.usage.feature.max_unit_limit) * @invoice.usage.feature.unit_price %>
    <%end%>
  </p>

  <p>
    <strong>Billing_Date:</strong>
    <td><%= @invoice.subscribe.billing_date  %></td>
  </p>

  <p>
    <strong>Total_Amount:</strong>
    <td><%= @invoice.total_amount  %></td>
  </p>
</div>
