<%= form_with(model: plan) do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="card-body">
  <div class="field mb-3">
    <%= form.label :monthly_fee, { class: "form-label"} %>
    <%= form.text_field :monthly_fee, { class: "form-control", placeholder: "Monthly Fee" } %>
  </div>

  <div class="field mb-3">
    <%= form.label :name, { class: "form-label"} %>
    <%= form.text_field :name, { class: "form-control", placeholder: "Name" } %>
  </div>

  <fieldset>
        <legend>Add Features</legend>
        <%= form.fields_for :features do |feature| %>
           <%= render "feature_fields", f: feature %>
        <% end %>
        <div class="links">
          <%= link_to_add_association "Add Feature", form, :features %>
        </div>
  </fieldset>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <br>
<% end %>
