

<% if current_user&.type == 'Admin' %>

  <tr id="planRow_<%= plan.id %>">
        <td><%= plan.id %></td>
        <td><%= plan.name %></td>
        <td><%= plan.monthly_fee %></td>
        <td><%= link_to 'Show', plan , class:"btn btn-outline-dark btn-sm" %></td>
        <td><%= link_to 'Edit', edit_plan_path(plan), class:"btn btn-outline-dark btn-sm" %></td>
        <td><%= link_to 'Delete', plan, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-dark btn-sm remove_plan", remote: true%></td>
      </tr>

<% else %>
  <tr id="planRow_<%= plan.id %>">
        <td><%= plan.id %></td>
        <td><%= plan.name %></td>
        <td><%= plan.monthly_fee %></td>
        <td><%= link_to 'Subscribe', new_subscribe_path(plan_id: plan.id),class:"btn btn-outline-dark btn-sm" %></td>
        <td><%= link_to 'Show Features', plan, class:"btn btn-outline-dark btn-sm" %></td>
        </tr>
<%end%>
