<%= form_with(model: @transactionuser) do |form| %>
  <% if @transactionuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transactionuser.errors.count, "error") %> prohibited this transactionuser from being saved:</h2>

      <ul>
        <% @transactionuser.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="field">
    <%= form.label :transaction_date %>
    <%= form.date_field :transaction_date %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.label :subscribe_id %>
    <%= form.text_field :subscribe_id, value: @transactionuser.subscribe_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
