<div class="container-sm shadow-lg">
  <%= form_with(model: @usage) do |form| %>
  <% if @usage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usage.errors.count, "error") %> prohibited this usage from being saved:</h2>

      <ul>
        <% @usage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="field">
    <%= form.label :units_consumed %>
    <%= form.number_field :unit_consumed %>
  </div>

  <div class="field">
    <%= form.label :total_units %>
    <%= form.number_field :total_units, value: @usage.feature&.max_unit_limit %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.label :feature_id %>
    <%= form.text_field :feature_id, value: @usage.feature_id %>
  </div>

  <br>
    <p>
      <button type="submit" class="btn btn-dark">Save</button>
    </p>
  <br>
<% end %>

</div>
