<div class="container-sm">
   <h2>Log in</h2>
</div>

<div class="container-sm w-2 shadow-lg">
  <br>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field form-group mb-3">
      <%= f.label :email, { class: "form-label"} %><br />
      <%= f.email_field :email, class:"form-control", placeholder: "Email", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field form-group mb-3">
      <%= f.label :password, { class: "form-label"} %><br />
      <%= f.password_field :password, class:"form-control", placeholder: "Password" , autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-3">
        <%= f.check_box :remember_me, class:"form-check-input" %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="mb-3">
      <button type="submit" class="btn btn-dark">Login</button>
    </div>
  <% end %>

  <div class="pb-4">
    <%= render "devise/shared/links" %>
  </div>
</div>
