<div class="container-sm shadow-lg">
  <%= form_with(model: @payment) do |form| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% @payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="field">
    <%= form.label :transaction_date, { class: "form-label"} %>
    <%= form.date_field :transaction_date, class:"form-control" , readonly: true %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :subscribe_id, value: @payment.subscribe_id %>
  </div>
  <br>
    <p>
      <button type="submit" class="btn btn-dark">Make Transaction</button>
    </p>
  <br>

<% end %>
</div>
