<div class="container-sm shadow-lg">
    <%= form_with(model: @subscribe) do |form| %>
    <% if @subscribe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscribe.errors.count, "error") %> prohibited this subscribe from being saved:</h2>

      <ul>
        <% @subscribe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :plan_id, value: @subscribe.plan_id %>
  </div>
  <br>

  <div class="fst-italic fs-5 text-black-50">
      <%= "Plan Name:" %>
      <%= @subscribe.plan.name %><br>

      <% @subscribe.plan.features.each do |feature| %>
        <%= "Total Units:" %>
        <%= feature.max_unit_limit %><br>
      <%end%>
  </div>

  <br>
    <p>
      <button type="submit" class="btn btn-dark">Create Subscribe</button>
    </p>
  <br>
  <% end %>
</div>
