<div class="container-sm shadow-lg">
  <p id="notice"><%= notice %></p>
<br>
<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Monthly Fee:</strong>
  <%= @plan.monthly_fee %>
</p>
<%= @display_feature&.count %>
    <h2>Features</h2>
    <% @display_feature&.each do |feature| %>
      <% if feature.persisted? %>
      <div class="card-group">
        <div class="card text-dark bg-light mb-3">
          <div class="card-header">
            <p>
              <strong>Feature Name:</strong>
              <%= feature.name %>
            </p>
          </div>
          <div class="card-body">
            <p>
              <strong>Code:</strong>
              <%= feature.code %>
            </p>
          </div>
          <div class="card-body">
            <p>
              <strong>Unit Price:</strong>
              <%= feature.unit_price %>
            </p>
          </div>
          <div class="card-body">
            <p>
              <strong>Max Unit Limit:</strong>
              <%= feature.max_unit_limit %>
            </p>
          </div>
          <div class="card-body">
            <% if current_user&.type == 'Admin' %>
              <p>id:<%=  feature.id %></p>

              <%= link_to 'Edit Feature', edit_plan_feature_path(@plan, feature) %> |
              <%= link_to 'Delete', plan_feature_path(@plan, feature), method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
            <% end %>
          </div>
        </div>
       </div>
      <br>
     <% end %>
    <% end %>

<% if current_user&.type == 'Admin' %>
    <p>
      <%= link_to 'Edit Plan', edit_plan_path(@plan), class:"btn btn-dark" %>
    </p>
    <br>
<% end %>

<div>
