<div class="container-sm shadow-lg">
  <p id="notice"><%= notice %></p>
<br>
<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>monthly_fee:</strong>
  <%= @plan.monthly_fee %>
</p>
<%= @plan.features.count %>
    <h2>Features</h2>
    <% @plan.features.each do |feature| %>
      <% if feature.persisted? %>
      <div class="card-group">
        <div class="card text-dark bg-light mb-3">
          <div class="card-header">
            <p>
              <strong>Feature Name:</strong>
              <%= feature.name %>
            </p>
          </div>
          <div class="card-body">
            <p>
              <strong>Code:</strong>
              <%= feature.code %>
            </p>
          </div>
          <div class="card-body">
            <p>
              <strong>Unit Price:</strong>
              <%= feature.unit_price %>
            </p>
          </div>
          <div class="card-body">
            <p>
              <strong>Max Unit Limit:</strong>
              <%= feature.max_unit_limit %>
            </p>
          </div>
          <div class="card-body">
            <% if current_user&.type == 'Admin' %>
              <p>id:<%=  feature.id %></p>

              <%= link_to 'Edit Feature', edit_plan_feature_path(@plan, feature) %> |
              <%= link_to 'Delete', plan_feature_path(@plan, feature), method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
            <% end %>
          </div>
        </div>
       </div>
      <br>
     <% end %>
    <% end %>

<% if current_user&.type == 'Admin' %>
  <%= debug @feature.errors.full_messages.join(' - ') %>
  <%= form_with model: [ @plan, @feature ] do |form| %>
    <% if @feature.present? && @object&.errors&.any? %>
      <%= render 'shared/errors' %>
    <% end %>
    <p>
      <%= form.label :name, { class: "form-label"} %><br>
      <%= form.text_field :name, { class: "form-control", placeholder: "name" } %>
    </p>
    <p>
      <%= form.label :code, { class: "form-label"} %><br>
      <%= form.text_area :code, { class: "form-control", placeholder: "code" } %>
    </p>
    <p>
      <%= form.label :unit_price, { class: "form-label"} %><br>
      <%= form.text_area :unit_price, { class: "form-control", placeholder: "unit_price" } %>
    </p>
    <p>
      <%= form.label :max_unit_limit, { class: "form-label"} %><br>
      <%= form.text_area :max_unit_limit, { class: "form-control", placeholder: "max_unit_limit" } %>
    </p>
    <p>
      <%= form.label :plan_id, { class: "form-label"} %><br>
      <%= form.text_area :plan_id, { class: "form-control", placeholder: "plan_id" } %>
    </p>
    <p>
      <button type="submit" class="btn btn-dark">Save</button> |
      <%= link_to 'Edit Plan', edit_plan_path(@plan), class:"btn btn-dark" %>
    </p>
    <br>
  <% end %>
<% end %>

<div>
