<div class="container-sm shadow-lg">
  <p id="notice"><%= notice %></p>
<br>
<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>monthly_fee:</strong>
  <%= @plan.monthly_fee %>
</p>
<%= @plan.features.count %>
    <h2>Features</h2>
    <% @plan.features.each do |feature| %>
      <% if feature.id != nil %>
      <div class="card text-dark bg-light mb-3" style="width: 20rem;">
        <div class="card-header">
          <p>
            <strong>Feature Name:</strong>
            <%= feature.name %>
          </p>
        </div>
        <div class="card-body">
          <p>
            <strong>code:</strong>
            <%= feature.code %>
          </p>
        </div>
        <div class="card-body">
          <p>
            <strong>unit_price:</strong>
            <%= feature.unit_price %>
          </p>
        </div>
        <div class="card-body">
          <p>
            <strong>max_unit_limit:</strong>
            <%= feature.max_unit_limit %>
          </p>
        </div>
        <div class="card-body">
          <% if current_user&.type == 'Admin' %>
            <p>id:<%=  feature.id %></p>

            <%= link_to 'Edit Feature', edit_plan_feature_path(@plan, feature) %> |
            <%= link_to 'Delete', plan_feature_path(@plan, feature), method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
          <% end %>
        </div>
      </div>
      <br>
     <% end %>
    <% end %>

<% if current_user&.type == 'Admin' %>
  <%= debug puts @feature.errors %>
  <%= form_with model: [ @plan, @feature ] do |form| %>
    <p>
      <%= form.label :name, { class: "form-label"} %><br>
      <%= form.text_field :name, { class: "form-control", placeholder: "name" } %>
    </p>
    <p>
      <%= form.label :code, { class: "form-label"} %><br>
      <%= form.text_area :code, { class: "form-control", placeholder: "code" } %>
    </p>
    <p>
      <%= form.label :unit_price, { class: "form-label"} %><br>
      <%= form.text_area :unit_price, { class: "form-control", placeholder: "unit_price" } %>
    </p>
    <p>
      <%= form.label :max_unit_limit, { class: "form-label"} %><br>
      <%= form.text_area :max_unit_limit, { class: "form-control", placeholder: "max_unit_limit" } %>
    </p>
    <p>
      <%= form.label :plan_id, { class: "form-label"} %><br>
      <%= form.text_area :plan_id, { class: "form-control", placeholder: "plan_id" } %>
    </p>

    <button type="submit" class="btn btn-primary">Save</button>
  <% end %>

  <%= link_to 'Edit', edit_plan_path(@plan) %>
<% end %>

<div>
